extends layout

block content
  .main.container.text-xs-center
    h1.display-3.white methodOS
    p.lead.white The Operating System for construction projects.
    a.btn.btn-info-index.btn-lg(href='/register') Create an account
